@import 'tailwindcss';
@import '@fontsource/ubuntu/400.css';
@import '@fontsource/ubuntu/500.css';
@import '@fontsource/ubuntu/700.css';

:root {
  --primary: #161b6d;
  --secondary: #1843e7;
  --color-primary: #ffffff;
}

.background-hero {
  background-color: var(--primary);
  color: var(--color-primary);
}

.text-white {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--secondary);
}

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  @apply bg-gray-100 text-gray-900;
}

.custom-form {
  @apply flex flex-col gap-6 w-full bg-white shadow-lg rounded-lg;
}

.custom-form .custom-input {
  @apply w-full p-2 border border-gray-300 rounded;
}

.custom-button-submit {
    @apply bg-blue-600 text-white px-8 py-2 rounded hover:bg-blue-700 transition text-2xl;
}
