@import 'tailwindcss';
@import '@fontsource/ubuntu/400.css';
@import '@fontsource/ubuntu/500.css';
@import '@fontsource/ubuntu/700.css';

:root {
  --primary: #161b6d;
  --secondary: #1843e7;
  --color-primary: #ffffff;
}

.background-hero {
  background-color: var(--primary);
  color: var(--color-primary);
}

.text-white {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--secondary);
}

* {
  font-family: 'Ubuntu', sans-serif;
}


body {
  @apply bg-gray-100 text-gray-900;
}
