@import 'tailwindcss';
@import '@fontsource/ubuntu/400.css';
@import '@fontsource/ubuntu/500.css';
@import '@fontsource/ubuntu/700.css';

:root {
  --primary: #161b6d;
  --secondary: #1843e7;
  --color-primary: #ffffff;
}

.background-hero {
  background-color: var(--primary);
  color: var(--color-primary);
}

.text-white {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--secondary);
}

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  @apply bg-gray-100 text-gray-900;
}

.custom-form {
  @apply flex flex-col gap-4 w-full bg-white shadow-lg rounded-lg p-6;
}

.custom-form .input-group {
  @apply flex flex-col mb-2;
}

.custom-form .input-group.checkbox {
  @apply flex-row items-center justify-start;
}

.custom-form .input-group.checkbox .custom-input,
.custom-form .input-group.radio .custom-input {
  @apply flex-0 mr-4;
}

.custom-form .input-group.checkbox .custom-label {
  @apply flex-1 m-0;
}

.custom-form .custom-label {
  @apply text-gray-800 font-bold mb-1;
}

.custom-form .custom-input {
  @apply w-full p-2 border border-gray-300 rounded;
}
.custom-form .custom-input-error {
  @apply border-red-400 focus:border-red-400;
}

.custom-form .custom-input::placeholder {
  @apply text-gray-400;
}

.custom-form .custom-error {
  @apply text-red-500 text-xs mt-1 italic;
}

.custom-button-submit {
  @apply bg-blue-600 text-white px-8 py-2 rounded hover:bg-blue-700 transition text-2xl;
}